@font-face {
    font-family: "medium-font" ;
    src: url(./asetss/font/9d5a263311222317-s.p.woff2) format("woff2");
}

body{
    font-family:"medium-font"  ;
}
.gap-40-px{
    gap:40px;
}
.backgrand-btn-header,
.backgrand-btn-masege {
    background: linear-gradient(90deg, #3A8EF6, #6b46f2);
}

.backgrand-itemlist {
    background: linear-gradient(180deg, #1678F2, #65A8FB);
}
.box-shadow-1{
    box-shadow: 5px 4px 20px 2px #afd2fc;
}

.color-section {
    background-color: #F2F7FF;
}

.w{
    width: 469px !important;
}
.iteme-list {
    height: 60px !important;
}

.btn-Book-an-appointment:hover{
    background-color: white !important;
}
.btn-Book-an-appointment{
    border-radius: 100px !important;
}
.fs{
    font-size: 10px;
}
.font-size-13-5{
    font-size: 13.5px;
}
footer{
    margin-top: 10px;
}
footer section ul li a{
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
}
ul{
    padding: 0 !important;
}
.swiper-button-prev,
.swiper-button-next{
color: #000000 !important;
height:  30px !important;
}
.line-box{
    margin-top: 15px;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.line-white{
    width: 100%;
    height: 1px;
    background: white;
    border-radius: 30px;
}
/*                     for about bg-linear-gradient */
/* ********************************************************** */
.bg-linear-gradient {
    background: linear-gradient(310deg, #1678F2, #65A8FB);
    padding: 55px 50px;
    background-repeat: no-repeat;
    margin: 0px 20%;
}
/*                for respansive */
/* ********************************************************* */
@media (max-width: 768px) {
    .bg-linear-gradient {
        padding: 45px 30px;
    }

    .d-nonee{
        display: none !important;
    }
}

@media (max-width: 480px) {
    .d-nonee{
        display: none !important;
    }
    .bg-linear-gradient {
        padding: 35px 22px;
        border-radius: 22px;
    }
}
/* ********************************************************** */





/* swiper-style */
/* ********************************************************** */
    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

/* ********************************************************** */









/*                             scroollbar */
/* ********************************************************** */

body {
  --sb-track-color: #000000;
  --sb-thumb-color: #1678F2;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  border: 1px double #000000;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
/* ********************************************************** */
